streamlit
python-dotenv
firecrawl
groq
langchain
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
docling
openpyxl
python-telegram-bot
